{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block bodyClass %}admin{% endblock %}

{% block header %}
    <header class="main-header">
        <div class="container">
            <nav class="main-nav">
                <div class="nav-brand">
                    <a href="{{ path('app_admin_dashboard') }}">Admin</a>
                </div>

                {% set navigation = {
                    'app_feed': {
                        'label': 'View site',
                        'prefix': 'app_feed'
                    },
                    'app_admin_category_list': {
                        'label': 'Categories',
                        'prefix': 'app_admin_category',
                    },
                    'app_admin_news_list': {
                        'label': 'News',
                        'prefix': 'app_admin_news',
                    },
                    '_logout_main': {
                        'label': 'Logout',
                        'prefix': '_logout',
                    }
                } %}

                <div class="nav-links">
                    {% for route, item in navigation %}
                        <a href="{{ path(route) }}"
                            {{ app.request.get('_route') starts with item.prefix ? 'class="active"' }}>
                            {{ item.label }}
                        </a>
                    {% endfor %}
                </div>
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h1>Here will be the dashboard!</h1>
{% endblock %}

{% block importmap %}{{ importmap('admin') }}{% endblock %}
