{% extends 'admin/base.html.twig' %}

{% block title %}Edit News - {{ news.title }}{% endblock %}

{% block content %}
    <div class="content-header">
        <h1>Edit News</h1>
    </div>

    <div class="content-body">
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% if form.vars.data.currentPicture %}
                    <div>
                        <p>Current Picture</p>
                        <img src="{{ asset('uploads/news/' ~ form.vars.data.currentPicture) }}" alt="Current picture" class="img-thumbnail">
                    </div>
                {% endif %}
                <div class="form-actions">
                    <a href="{{ path('app_admin_news_list') }}" class="btn">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
